EMQX_CONTAINER_NAME=staging-emqx
EMQX_MQTT_PORT=21883
EMQX_MQTTS_PORT=28883
EMQX_WS_PORT=28084
EMQX_WSS_PORT=28085
EMQX_DASHBOARD_PORT=28083
EMQX_MOUNT_PATH=/mnt/hdd_500gb/db/staging/emqx
EMQX_NODE_NAME=emqx@staging-emqx
EMQX_DASHBOARD_PASSWORD=emqxadmin
