KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=mykeycloakpassword
KEYCLOAK_CONTAINER_NAME=production-keycloak
KEYCLOAK_HTTP_PORT=8080
KEYCLOAK_HTTPS_PORT=8443
KEYCLOAK_MOUNT_PATH=/mnt/hdd_1tb/db/production/keycloak
KEYCLOAK_DB_HOST=host.docker.internal
KEYCLOAK_DB_PORT=5432
KEYCLOAK_DB_NAME=keycloak
KEYCLOAK_DB_USERNAME=postgres
KEYCLOAK_DB_PASSWORD=postgres
