KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=mykeycloakpassword
KEYCLOAK_CONTAINER_NAME=staging-keycloak
KEYCLOAK_HTTP_PORT=28080
KEYCLOAK_HTTPS_PORT=28443
KEYCLOAK_MOUNT_PATH=/mnt/hdd_500gb/db/staging/keycloak
KEYCLOAK_DB_HOST=host.docker.internal
KEYCLOAK_DB_PORT=25432
KEYCLOAK_DB_NAME=keycloak
KEYCLOAK_DB_USERNAME=postgres
KEYCLOAK_DB_PASSWORD=postgres
