MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
MINIO_CONTAINER_NAME=production-minio
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001
MINIO_MOUNT_PATH=/mnt/hdd_1tb/db/production/minio
MINIO_BROWSER_REDIRECT_URL=http://localhost:9001
