DESKTOP_CONTAINER_NAME=desktop
DESKTOP_IMAGE=desktop-kasm-ubuntu-noble:latest
DESKTOP_PORT=6901
DESKTOP_SSH_PORT=2222
DESKTOP_SSH_PUBLIC_KEY=
DESKTOP_VNC_PASSWORD=password
DESKTOP_SHM_SIZE=8gb
DESKTOP_USER_MOUNT_PATH=/mnt/hdd_1tb/desktop/kasm_user
DESKTOP_NVIDIA_VISIBLE_DEVICES=all
DESKTOP_NVIDIA_DRIVER_CAPABILITIES=all
