DESKTOP_CONTAINER_NAME=desktop
DESKTOP_IMAGE=desktop-kasm-ubuntu-noble:latest
DESKTOP_PORT=6901
DESKTOP_VNC_PASSWORD=password
DESKTOP_SHM_SIZE=8gb
NVIDIA_VISIBLE_DEVICES=all
NVIDIA_DRIVER_CAPABILITIES=all
